__pycache__/
*.py[cod]

# C extensions
*.so

build/
develop-eggs/
dist/
.eggs/
sdist/
wheels/
*.egg-info/
*.egg

.tox/
.coverage
.coverage.*


# Added by cargo

/target


# Added by cargo
#
# already existing elements were commented out

#/target
Cargo.lock
